Repository harakeke-2019/EDAMAME, pull requests merged in 2019-02, with the labels that each got.

#17 updated readme to ensure everyone has fun
  README.md
Labels: documentation

#18 Updated readme again
  README.md
Labels: documentation

#24 Added migration and seed data
  server/db/knexfile.js
  server/db/migrations/20190221115044_users.js
  server/db/migrations/20190221115142_cohorts.js
  server/db/migrations/20190221115238_students.js
  server/db/migrations/20190221115308_assessments.js
  server/db/migrations/20190221115348_student_assesments.js
  server/db/migrations/20190221115418_modules.js
  server/db/migrations/20190221115436_exercises.js
  server/db/migrations/20190221115500_statuses.js
  server/db/seeds/assessments.js
  server/db/seeds/cohorts.js
  server/db/seeds/exercises.js
  server/db/seeds/modules.js
  server/db/seeds/statuses.js
  server/db/seeds/student_assessments.js
  server/db/seeds/students.js
  server/db/seeds/users.js
Labels: db

#27 Create a login component
  client/components/App.jsx
  client/components/Login.jsx
  client/index.js
  package.json
  server/public/index.html
  yarn.lock
Labels: client

#21 14 cohort route
  knexfile.js
  package.json
  server/db/cohorts.js
  server/db/knexfile.js
  server/routes/cohortRoutes.js
  tests/routes/cohorts.test.js
  yarn.lock
Labels: api, server

#32 Deletion of unnecessary file
  server/db/knexfile.js
Labels: db, server

#31 Added surname to users table
  server/db/migrations/20190221115044_users.js
  server/db/seeds/users.js
Labels: db

#23 13 get route
  server/db/cohorts.js
  server/routes/cohortRoutes.js
  server/routes/starter.js
  server/server.js
Labels: server

#46 44 cohort route
  server/db/cohorts.js
  server/routes/cohortRoutes.js
  tests/routes/cohorts.test.js
Labels: api, server

#34 Created Dashboard component with child components
  client/components/Dashboard.jsx
Labels: client

#54 33 extract db config
  server/db/cohorts.js
  server/db/index.js
Labels: db

#37 header complete
  client/components/Header.jsx
Labels: client

#59 Create circular ProgessModule component that takes a place holder prop
  client/components/ProgressModule.jsx
Labels: client

#67 4 create client route login to dashboard
  client/components/App.jsx
  client/components/signin.jsx
  client/index.js
Labels: client, route

#65 62 register component
  client/components/App.jsx
  client/components/ResgistrationForm.jsx
  client/index.js
Labels: client, route

#48 19 create a get route to get our user from db
  client/api.js
  server/db/index.js
  server/db/users.js
  server/routes/usersRoutes.js
  server/server.js
  tests/routes/cohorts.test.js
  tests/routes/users.test.js
Labels: db, server

#43 ammendments made to migrations and seeds
  server/db/migrations/20190221115436_exercises.js
  server/db/seeds/exercises.js
Labels: db, server

#68 installed boostrap to create progressbar component
  client/components/App.jsx
  client/components/Dashboard.jsx
  client/components/ProgressBar.jsx
  package-lock.json
  package.json
  server/public/index.html
Labels: client

#74 Renamed userRoutes const path in server.js
  server/server.js
Labels: server

#55 Change data_modified to a timestamp
  server/db/migrations/20190221115348_student_assesments.js
  server/db/seeds/student_assessments.js
Labels: db

#25 11 issue
  package.json
  server/db/assessmentsDb.js
  server/routes/assessmentsRoutes.js
  server/routes/starter.js
  server/server.js
  tests/assessments.test.js
  yarn.lock
Labels: server

#71 Renamed Signin component, and removed Login route
  client/components/App.jsx
  client/components/signin.jsx
Labels: client

#64 Progress modules to dashboard 60
  client/components/Dashboard.jsx
  client/components/ProgressModule.jsx
Labels: client

#47 fixed module ids
  server/db/seeds/assessments.js
Labels: db

#76 Renamed Registration component and path in App
  client/components/App.jsx
  client/components/RegistrationForm.jsx
Labels: client

#77 Wrote api for student's particular assessment info
  client/api/students.js
Labels: api, client

#79 78 update assessment route
  package.json
  server/db/assessmentsDb.js
  yarn.lock
Labels: route

#50 5 get user from api
  client/api.js
  server/routes/users.js
  tests/routes/users.test.js
Labels: api, server

#103 61 create dashboards module view route
  server/db/users.js
  server/routes/assessments.js
  server/routes/users.js
  server/routes/users.js~82c1b1cfe1409bfa8ef64e248bf3ce60f35cc903
Labels: route, server

#111 102 refactor db tables
  server/db/assessments.js
  server/db/migrations/20190221115308_assessments.js
  server/db/migrations/20190221115348_students_assesments.js
  server/db/seeds/assessments.js
  server/db/seeds/students_assessments.js
  tests/server/db/assessments.test.js
Labels: db

#120 ticket complete progress-modules - now resized and reorientated to row
  client/components/App.jsx
  client/components/Dashboard.jsx
  client/components/ProgressModule.jsx
  package.json
  server/public/main.css
Labels: client, server

#85 36 register route
  package.json
  server/auth/hash.js
  server/auth/token.js
  server/db/users.js
  server/index.js
  server/routes/auth.js
  server/routes/users.js
  server/server.js
  yarn.lock
Labels: authentication, server

#124 122 update props in header component
  client/components/Header.jsx
  client/components/ProgressModule.jsx
Labels: client, good first issue

#119 10 user signin
  server/auth/hash.js
  server/auth/token.js
  server/db/users.js
  server/routes/auth.js
Labels: authentication, db, server

#118 108 dd first name last name to db
  server/db/migrations/20190221115238_students.js
  server/db/seeds/students.js
Labels: db

#126 updated relational integrity across db tables or something
  server/db/migrations/20190221115238_students.js
  server/db/migrations/20190221115308_assessments.js
  server/db/migrations/20190221115348_students_assesments.js
Labels: db

#140 changed input type of password to password
  client/components/Login.jsx
Labels: client

#127 Wrote register api
  client/api/auth.js
Labels: api, client

#107 86 create api function go get assessment content
  client/Actions/index.js
  client/api/assessments.js
  client/api/students.js
  client/components/Dashboard.jsx
  client/components/DropdownModule.jsx
  client/index.js
  package.json
  server/db/assessments.js
  yarn.lock
Labels: api, client

#150 Imported the header and using state to provide some dummy data
  client/components/Dashboard.jsx
Labels: client

#41 6 get assessment method
  client/api/assessments.js
Labels: api

#153 Update design dropdown issue 90
  client/components/DropdownModule.jsx
  package.json
  server/public/index.html
  yarn.lock
Labels: client

#157 156 get all assessment content api
  client/api/assessments.js
Labels: api

#164 158 progress bar ui pt2
  client/components/Dashboard.jsx
  client/components/ProgressBar.jsx
  server/public/main.css
Labels: client

#159 151 link to register and login
  client/components/App.jsx
  client/components/Home.jsx
  server/public/main.css
Labels: client, route

#166 fixed value binding in registration form
  client/components/Register.jsx
Labels: client

#169 Registerformstyle
  client/components/Register.jsx
Labels: client

#170 94 create request and receive actions for assessment content
  client/actions/assessmentContent.js
  client/api/assessments.js
Labels: actions

#160 104 evidence component styling
  client/components/App.jsx
  client/components/Dashboard.jsx
  client/components/Evidence.jsx
  client/components/dropdownModule/Exercise.jsx
  package.json
  server/public/main.css
  yarn.lock
Labels: client, design
